@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Metodo</th>
                    <th>Link</th>
                    <th>Documentacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Get Estudiantes</td>
                    <td><a href="@Url.Action("GetEstudiantes", "Estudiante")" class="btn btn-success">Get Estudiantes</a></td>
                    <td>
                        <p>Solamente enviar el link:</p>
                        <p><code>https://localhost:44344/api/Estudiante</code></p>
                    </td>
                </tr>
                <tr>
                    <td>Get Estudiante Por Id</td>
                    <td><a href="@Url.Action("GetEstudiantes", "Estudiante")" class="btn btn-success">Get Estudiante por Id</a></td>
                    <td>
                        <p>Solamente enviar el link con el Id del estudiante a buscar:</p>
                        <p><code>https://localhost:44344/api/Estudiante/4</code></p>
                    </td>
                </tr>
                <tr>
                    <td>Post Estudiante</td>
                    <td><a href="@Url.Action("PostEstudiante", "Estudiante")" class="btn btn-success">Post Estudiantes</a></td>
                    <td>
                        <p>Solamente enviar el link:</p>
                        <p><code>https://localhost:44344/api/Estudiante</code></p>
                        <p>Y enviar el JSON</p>
                        <code>
                            <pre>
{
    "nombre": "Ramon Valdez",
    "fechaNacimiento": "1984-01-15"
}
                            </pre>
                        </code>
                    </td>
                </tr>
                <tr>
                    <td>Put Estudiante</td>
                    <td><a href="@Url.Action("PutEstudiante", "Estudiante")" class="btn btn-success">Get Estudiantes</a></td>
                    <td>
                        <p>Solamente enviar el link:</p>
                        <p><code>https://localhost:44344/api/Estudiante</code></p>
                        <p>Y enviar el JSON</p>
                        <code>
                            <pre>
{
    "id": 1,
    "nombre": "edri alan wayne arteaga",
    "fechaNacimiento": "1994-12-15"
}
                            </pre>
                        </code>
                    </td>
                </tr>
                <tr>
                    <td>Delete Estudiante</td>
                    <td><a href="@Url.Action("DeleteEstudiante", "Estudiante")" class="btn btn-success">Get Estudiantes</a></td>
                    <td>
                        <p>Solamente enviar el link:</p>
                        <p><code>https://localhost:44344/api/Estudiante</code></p>
                        <p>Y enviar el JSON</p>
                        <code>
                            <pre>
{
    "id": 1,
}
                            </pre>
                        </code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

